{# List of articles under a category (or categories)   by José Luis Olivares. 
You can say thanks endorsing my developer skills on https://www.linkedin.com/in/jolivaress/
and/or  making a voluntary donation through Paypal https://paypal.me/joolivares #}

{% extends '@nucleus/partials/particle.html.twig' %}
    {% set article_settings = particle.article %} {# yaml configuration #}
    {% set filter = article_settings.filter %}

    {# Category Finder #}
    {% set category_options = filter.categories ? {id: [filter.categories|split(','), 0]} : {} %}
    {% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}
    {# Content Finder #}
    {% if filter.articles %}
        {% set article_options = filter.articles ? {id: [filter.articles|replace({' ': ''})|split(',')]} : {} %}
        {% set article_finder = joomla.finder('content', article_options).published(1).language() %}
    {% else %}
        {% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
    {% endif %}

    {% set total = article_finder.count() %}
    {# {% set articles = article_finder.find() %} #}


    {# getting params from url#}
    {% set paginator = gantry.olivares.get_url_param('items')|default(0)%}
    {% set articles = article_finder.start(paginator).find() %}

    {#Max characters for article intro text#}
    {% if article_settings.intro_chars %}
        {% set max_chars = article_settings.intro_chars %}
    {% else %}
        {% set max_chars = 250 %}
    {% endif %}



{% block particle %}

<div class="uk-container">
    {% if particle.title %}
        <div class="g-grid">
            <div class="g-block size-100 {{ particle.title_css }}">
                <{{ particle.titlehx|raw }} class="g-title">{{ particle.title|raw }}</{{ particle.titlehx|raw }}>
            </div>
        </div>
    {% endif %}
   
   {# <script>  
        console.log({{ _context | json_encode | raw }});
        console.log("---------articles[1]------");
        console.log({{ articles[1] | json_encode | raw }});
        console.log("---------Categories------");
        console.log({{ categories[22]| json_encode | raw }}); 
        console.log("Paginador: "+ {{paginator}});
    </script>#}
    
    <div class="uk-grid-match uk-text-center uk-grid-medium" uk-grid>
        {% for article in articles  %}
            <div class="uk-width-1-{{particle.grid_elements}}@m">
                <div class="uk-card uk-card-{{particle.cardtype|default('default')}} uk-grid-collapse uk-child-width-1-2@m uk-margin uk-box-shadow-large" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <a target="{{ particle.blogtarget|default('_parent') }}" href="{{ article.route }}" class="uk-link-reset"> 
                            {% if article_settings.imagefrom =='image_fulltext'%}
                                <img src="{{ url(article.images.image_fulltext) }}" alt="{{ article.images.image_fulltext_alt}}" uk-cover>
                            {% else %}
                                <img src="{{ url(article.images.image_intro) }}" alt="{{ article.images.image_intro_alt }}" uk-cover>
                            {% endif %}
                            <canvas width="600" height="400"></canvas>
                        </a>
                    </div>
                    <div>
                        <div class="uk-card-body uk-padding-small uk-padding-remove-top olivares-limit-cardtextX">
                            <h3 class="uk-card-title uk-margin-remove-bottom ">
                                <a target="{{ particle.blogtarget|default('_parent') }}" href="{{ article.route | url }}" class="uk-button uk-button-text">{{article.title|e}}</a>
                            </h3>
                            <a class="uk-link-reset" href="{{ article.route | url }}">
                                {% if article.attribs.alternative_readmore !="" %}
                                    <p class="uk-text-small uk-margin-remove-top">{{article.attribs.alternative_readmore|truncate_text(max_chars)|raw }}</p>
                                {% else %}
                                    <p class="uk-text-small uk-margin-remove-top">{{article.introtext|truncate_text(max_chars)|raw }}</p>
                                {% endif %}
                            </a>
                            <div class="uk-position-small uk-margin-small-bottom uk-position-bottom-right uk-text-meta uk-text-small">
                                <a href="{{ article.route | url }}" uk-icon="icon: heart"> {{article.hits}}&nbsp;</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor  %}
    </div>
</div>



{% endblock %}
